* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.3;
}

p, li {
  text-align: justify;
}

img {
  width: 100%;
  border-radius: 20px;
}

.container {

  margin: 0 auto;
  background-color: #f1f1f1;

}

header {
  text-align: center;
  background-color: #ba9327cb;
  color: #fff;
}


header p {
  padding: 10px 0;
  font-size: large;
  text-align: center;
}

.container header > h1{
  text-align: center;
  
}

.body {
  margin: 0;
  display: flex;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul li {
  padding: 10px;
}

.left-aside ul li:hover {
  background: #aaa;
}

ol li {
  margin: 20px;
}

.left-aside h3,
.left-aside ul {
  margin: 10px;
}

main {
  float: left;
  width: 60%;
  margin-left: 2%;
}

main h2 {
  padding: 20px 0px;
  color: #b96b56;
}

aside {
  width: 35%;
  padding: 20px;
}

.vision {
  padding: 20px;
}

footer {
  clear: both;
  padding: 10px 0;
  background-color: #ba9327cb;;
  color: #fff;
 
}

footer p {
  margin-left: 20px;
  text-align: center;
}

form {
  width: 100%;
}

form .form-group {
  width: 100%;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.button {
  width: 100%;
}

button {
  width: 50%;
  margin: auto;
  padding: 10px;
  background-color: #5050d1;
  color: #fff;
  border: none;
  border-radius: 10px;
}

@media only screen and (max-width: 767px){
	.body {
    flex-direction: column;
  }
  main {
    margin: auto;
    width: 100%;
    padding: 10px;
  }
  .right-aside {
    margin: auto;
    width: 100%;
    padding: 10px;
  }
  .about {
    flex-direction: column;
    padding: 10px;
  }
}
